<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="..\node_modules\bulma\css\bulma.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="eltemps.css">
    <title>Most visited website in the world</title>
  </head>
  <body bgcolor="#e8a27d">
    <noscript>
      <strong>We're sorry but prova doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <section class="section">
        <div class="container">
            <div id="app">
                <!--<HelloWorld msg="ja"></HelloWorld>-->
            </div>
        </div>
    </section>


    <!-- built files will be auto injected -->
  </body>
</html>
