<template>
    <div class="current">
        <div class="has-background-link box is-pulled-right">
            <div :id="'save_div_' + this.eventid">
                <a class="button is-success" @click="this.addEvent">
                    <span class="icon is-small"><i class="fas fa-check"></i></span>
                    <span>Save</span>
                </a>
            </div>
            <div :id="'delete_div_' + this.eventid">
                <a class="button is-danger is-outlined" @click="this.removeEvent">
                    <span>Delete</span>
                    <span class="icon is-small"><i class="fas fa-times"></i></span>
                </a>
            </div>
            <br/>
            <br/>
            <h6>Nom artista: </h6>{{ artista }}<br><br>
            <h6>Nom local: </h6>{{ nomlocal }}<br><br>
            <h6>Data: </h6>{{ datahora }}
            <!--<a @click="this.testingFunction">tst</a>
            <span v-if="this.isEventSaved()">ISSAVEDD</span>
            <span v-if="!this.isEventSaved()">ISSNOOOOOTTTAVEDD</span>-->
        </div>
    </div>
</template>

<script>
    import { store } from "../store/store";

    export default {
        name: 'CurrentMusic',
        props: {
            eventid: String,
            artista: String,
            nomlocal: String,
            datahora: String
        },
        methods: {
            addEvent: function () {
                if (!this.isEventSaved()) {
                    store.setEvent({
                        id: this.eventid,
                        artista: this.artista,
                        nomlocal: this.nomlocal,
                        datahora: this.datahora
                    });
                    try {
                        // AQUI ES ON M'HE QUEDAT L'ULTIM COP (8/4 21:43)
                        document.getElementById("save_div_" + this.eventid).setAttribute("hidden", "true");
                        document.getElementById("delete_div_" + this.eventid).removeAttribute("hidden");
                        console.log("Event saved successfully.");
                    } catch (e) {
                        console.error(e)
                    }
                } else {
                    console.log("Evend is already saved.");
                }
            },
            removeEvent: function () {
                if (this.isEventSaved()) {
                    store.removeEvent({
                        id: this.eventid,
                        artista: this.artista,
                        nomlocal: this.nomlocal,
                        datahora: this.datahora
                    });
                    try {
                        document.getElementById("delete_div_" + this.eventid).setAttribute("hidden", "true");
                        document.getElementById("save_div_" + this.eventid).removeAttribute("hidden");
                        console.log("Event removed successfully.")
                    } catch (e) {
                        console.error(e);
                    }
                } else console.log("The event is not in the list.")
            },
            isEventSaved: function () {
                if (store.getEvent(this.eventid) != null) return true;
                else return false;
            },
            testingFunction: function() {
                console.log("ISEVENTSAVED: " + store.getEvent(this.eventid));
            }
        },
        mounted() {
            if(this.isEventSaved()) {
                document.getElementById("save_div_" + this.eventid).setAttribute("hidden", "true");
                document.getElementById("delete_div_" + this.eventid).removeAttribute("hidden");
            } else {
                document.getElementById("delete_div_" + this.eventid).setAttribute("hidden", "true");
                document.getElementById("save_div_" + this.eventid).removeAttribute("hidden");
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
