<template>
    <div class="current">
        <div class="has-background-link box is-pulled-right">
            <h2 class="is-pulled-left">Current weather</h2>
            <br>
            <h6>Ciutat: </h6>{{ ciutat }}<br><br>
            <h6>Temps actual: </h6>{{ temps }}<br><br>
            <h6>Temperatura actual: </h6>{{ temperatura }}<br><br>
            <h6>Pressió actual: </h6>{{ pressio }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Current',
        props: {
            ciutat: String,
            temps: String,
            temperatura: undefined,
            pressio: undefined
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
