<template>
    <div class="current">
        <div class="has-background-warning box is-pulled-right">
            <h2 class="is-pulled-left">Forecast</h2>
            <br>
            <h6>Temps previst: </h6>{{ temps }}<br><br>
            <h6>Temperatura prevista: </h6>{{ temperatura }}<br><br>
            <h6>Pressió prevista: </h6>{{ pressio }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Forecast',
        props: {
            temps: String,
            temperatura: undefined,
            pressio: undefined
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
