<template>
    <div class="general">
        <div id="sunriseSection" class="has-background-white-ter container notification content"
             style="display: inline-block">
            <div class="is-pulled-left">
                <label>Selecciona una ciutat:</label>
                <div class="select">
                    <select v-model="ciutatsSelect">
                        <option v-for="ciutat in ciutats" v-bind:key="ciutat">{{ ciutat }}</option>
                    </select>
                </div>
            </div>
            <br><br>
            <div v-bind:key="event.id" v-for="event in dataActual.resultsPage.results.event">
                <CurrentMusic :eventid="String(event.id)"
                              :artista="event.performance[0].artist.displayName"
                              :nomlocal="event.venue.displayName"
                              :datahora="event.start.date">
                </CurrentMusic>
            </div>
            <div v-if="dataActual.resultsPage.totalEntries == 0" class="notification is-danger">
                No hi ha cap event
            </div>
            <!--<CurrentMusic :ciutat="ciutatsSelect"
                          :artista="dataActual.resultsPage.results.event[0].performance[0].artist.displayName"
                          :nomlocal="dataActual.resultsPage.results.event[0].venue.displayName"
                          :datahora="dataActual.resultsPage.results.event[0].start.date">
            </CurrentMusic>-->
        </div>
    </div>
</template>


<script>
    import CurrentMusic from "./CurrentMusic.vue"

    export default {
        name: 'GeneralMusic',
        data: function () {
            return {
                ciutatsSelect: this.ciutats[0],
                dataActual: {
                    "resultsPage": {
                        "status": "ok",
                        "results": {
                            "event": [{
                                "id": 36202564,
                                "displayName": "TEST",
                                "start": {"date": "2019-01-25"},
                                "performance": [{
                                    "artist": {
                                        "displayName": "test"
                                    }
                                }],
                                "venue": {
                                    "displayName": "test"
                                }
                            }]
                        },
                        "totalEntries" : 0
                    }
                },
                cityId: "28714"
            }
        },
        components: {
            CurrentMusic: CurrentMusic
        },
        props: {
            ciutats: Array
        },
        watch: {
            ciutatsSelect: function (newOption, oldOption) {
                oldOption; //Crido la variable perque sino dona error
                //console.log("New selected option: " + newOption);
                this.changeWeather(newOption);
            }
        },
        methods: {
            changeWeather: async function (city) {
                let self = this;
                var todayDate = this.getTodaysDate();
                //console.warn(todayDate);
                //https://api.songkick.com/api/3.0/search/locations.json?query=Barcelona&apikey=Cglf2H7c7d4KPMO1
                await fetch('https://api.songkick.com/api/3.0/search/locations.json?query=' + city +
                    '&apikey=Cglf2H7c7d4KPMO1')
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        self.cityId = data.resultsPage.results.location[0].metroArea.id;
                        console.log("Data (city ID) updated successfully. TO: " + self.cityId);
                        //console.warn("DATOSSSSSSSSSSSSSSSSS" + data.resultsPage.results.location[0].metroArea.id);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
                // console.log("SITI AIDI: " + response);
                // https://api.songkick.com/api/3.0/metro_areas/28714/calendar.json?apikey=Cglf2H7c7d4KPMO1
                fetch('https://api.songkick.com/api/3.0/metro_areas/' + self.cityId +
                    '/calendar.json?apikey=Cglf2H7c7d4KPMO1&min_date=' + todayDate + '&max_date=' + todayDate)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        self.dataActual = data;
                        // console.log("Data (music events) updated successfully.");
                        // console.warn(self.dataActual.resultsPage);
                        // console.warn(self.cityId);
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },
            getTodaysDate: function () {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1;
                var yyyy = today.getFullYear();

                if(dd<10) {dd = '0'+dd}

                if(mm<10) {mm = '0'+mm}

                today = yyyy + '-' + mm + '-' + dd;
                return today;
            }
        },
        created: function () {
                    this.changeWeather(this.ciutatsSelect);
                    // console.warn(this.ciutatsSelect);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
