<template>
    <div class="general">
        <div id="sunriseSection" class="has-background-white-ter container notification content"
             style="display: inline-block">
            <div class="is-pulled-left">
                <label>Selecciona una ciutat:</label>
                <div class="select">
                    <select v-model="ciutatsSelect">
                        <option v-for="ciutat in ciutats" v-bind:key="ciutat">{{ ciutat }}</option>
                    </select>
                </div>
            </div>
            <br>
            <Forecast :temps="tempsPrevist.list[39].weather[0].description"
                      :temperatura="tempsPrevist.list[39].main.temp"
                      :pressio="tempsPrevist.list[39].main.pressure"></Forecast>
            <Current :ciutat="ciutatsSelect" :temps="tempsActual.weather[0].description"
                     :temperatura="tempsActual.main.temp" :pressio="tempsActual.main.pressure"></Current>
        </div>
    </div>
</template>


<script>
    import Current from "./Current.vue"
    import Forecast from "./Forecast.vue"

    export default {
        name: 'General',
        data: function () {
            return {
                ciutatsSelect: this.ciutats[0],
                tempsActual: {
                    "coord": {"lon": 145.77, "lat": -16.92},
                    "weather": [{"id": 803, "main": "Clouds", "description": "DEFAULT", "icon": "04n"}],
                    "base": "cmc stations",
                    "main": {"temp": 111.11, "pressure": 9999, "humidity": 83, "temp_min": 289.82, "temp_max": 295.37},
                    "wind": {"speed": 5.1, "deg": 150},
                    "clouds": {"all": 75},
                    "rain": {"3h": 3},
                    "dt": 1435658272,
                    "sys": {
                        "type": 1,
                        "id": 8166,
                        "message": 0.0166,
                        "country": "AU",
                        "sunrise": 1435610796,
                        "sunset": 1435650870
                    },
                    "id": 2172797,
                    "name": "Cairns",
                    "cod": 200
                },
                tempsPrevist: {
                    "cod": "200",
                    "message": 0.0039,
                    "cnt": 40,
                    "list": [{
                        "dt": 1549929600,
                        "main": {
                            "temp": 9.85,
                            "temp_min": 9.85,
                            "temp_max": 10.29,
                            "pressure": 1036.02,
                            "sea_level": 1044.76,
                            "grnd_level": 1036.02,
                            "humidity": 100,
                            "temp_kf": -0.45
                        },
                        "weather": [{
                            "id": 801,
                            "main": "Clouds",
                            "description": "lleugerament ennuvolat",
                            "icon": "02n"
                        }],
                        "clouds": {"all": 12},
                        "wind": {"speed": 2.12, "deg": 180.5},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-12 00:00:00"
                    }, {
                        "dt": 1549940400,
                        "main": {
                            "temp": 10.6,
                            "temp_min": 10.6,
                            "temp_max": 10.9,
                            "pressure": 1035.76,
                            "sea_level": 1044.53,
                            "grnd_level": 1035.76,
                            "humidity": 100,
                            "temp_kf": -0.3
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "02n"}],
                        "clouds": {"all": 8},
                        "wind": {"speed": 1.66, "deg": 216.503},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-12 03:00:00"
                    }, {
                        "dt": 1549951200,
                        "main": {
                            "temp": 10.05,
                            "temp_min": 10.05,
                            "temp_max": 10.2,
                            "pressure": 1035.79,
                            "sea_level": 1044.62,
                            "grnd_level": 1035.79,
                            "humidity": 100,
                            "temp_kf": -0.15
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 0.62, "deg": 262.502},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-12 06:00:00"
                    }, {
                        "dt": 1549962000,
                        "main": {
                            "temp": 11.26,
                            "temp_min": 11.26,
                            "temp_max": 11.26,
                            "pressure": 1036.92,
                            "sea_level": 1045.73,
                            "grnd_level": 1036.92,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 0.97, "deg": 20.5028},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-12 09:00:00"
                    }, {
                        "dt": 1549972800,
                        "main": {
                            "temp": 12.84,
                            "temp_min": 12.84,
                            "temp_max": 12.84,
                            "pressure": 1037.14,
                            "sea_level": 1045.85,
                            "grnd_level": 1037.14,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 1.85, "deg": 228.504},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-12 12:00:00"
                    }, {
                        "dt": 1549983600,
                        "main": {
                            "temp": 13.1,
                            "temp_min": 13.1,
                            "temp_max": 13.1,
                            "pressure": 1035.8,
                            "sea_level": 1044.44,
                            "grnd_level": 1035.8,
                            "humidity": 98,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 4.67, "deg": 238.004},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-12 15:00:00"
                    }, {
                        "dt": 1549994400,
                        "main": {
                            "temp": 12.12,
                            "temp_min": 12.12,
                            "temp_max": 12.12,
                            "pressure": 1035.42,
                            "sea_level": 1044.2,
                            "grnd_level": 1035.42,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 6.73, "deg": 242.006},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-12 18:00:00"
                    }, {
                        "dt": 1550005200,
                        "main": {
                            "temp": 10.77,
                            "temp_min": 10.77,
                            "temp_max": 10.77,
                            "pressure": 1036.13,
                            "sea_level": 1044.83,
                            "grnd_level": 1036.13,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 7.22, "deg": 251.006},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-12 21:00:00"
                    }, {
                        "dt": 1550016000,
                        "main": {
                            "temp": 9.92,
                            "temp_min": 9.92,
                            "temp_max": 9.92,
                            "pressure": 1035.41,
                            "sea_level": 1044.15,
                            "grnd_level": 1035.41,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 7.07, "deg": 255},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-13 00:00:00"
                    }, {
                        "dt": 1550026800,
                        "main": {
                            "temp": 9.31,
                            "temp_min": 9.31,
                            "temp_max": 9.31,
                            "pressure": 1034.56,
                            "sea_level": 1043.41,
                            "grnd_level": 1034.56,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 6.22, "deg": 259.006},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-13 03:00:00"
                    }, {
                        "dt": 1550037600,
                        "main": {
                            "temp": 8.64,
                            "temp_min": 8.64,
                            "temp_max": 8.64,
                            "pressure": 1035.05,
                            "sea_level": 1043.9,
                            "grnd_level": 1035.05,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 3.47, "deg": 279},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-13 06:00:00"
                    }, {
                        "dt": 1550048400,
                        "main": {
                            "temp": 10.42,
                            "temp_min": 10.42,
                            "temp_max": 10.42,
                            "pressure": 1036.85,
                            "sea_level": 1045.57,
                            "grnd_level": 1036.85,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 3.68, "deg": 30.506},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-13 09:00:00"
                    }, {
                        "dt": 1550059200,
                        "main": {
                            "temp": 12.23,
                            "temp_min": 12.23,
                            "temp_max": 12.23,
                            "pressure": 1037.31,
                            "sea_level": 1045.9,
                            "grnd_level": 1037.31,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 4.16, "deg": 73.0072},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-13 12:00:00"
                    }, {
                        "dt": 1550070000,
                        "main": {
                            "temp": 12.32,
                            "temp_min": 12.32,
                            "temp_max": 12.32,
                            "pressure": 1036.75,
                            "sea_level": 1045.33,
                            "grnd_level": 1036.75,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 2.91, "deg": 98.0029},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-13 15:00:00"
                    }, {
                        "dt": 1550080800,
                        "main": {
                            "temp": 10.93,
                            "temp_min": 10.93,
                            "temp_max": 10.93,
                            "pressure": 1036.99,
                            "sea_level": 1045.62,
                            "grnd_level": 1036.99,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 1.47, "deg": 111.502},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-13 18:00:00"
                    }, {
                        "dt": 1550091600,
                        "main": {
                            "temp": 9.78,
                            "temp_min": 9.78,
                            "temp_max": 9.78,
                            "pressure": 1037.57,
                            "sea_level": 1046.29,
                            "grnd_level": 1037.57,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 0.61, "deg": 184.501},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-13 21:00:00"
                    }, {
                        "dt": 1550102400,
                        "main": {
                            "temp": 9.18,
                            "temp_min": 9.18,
                            "temp_max": 9.18,
                            "pressure": 1037.84,
                            "sea_level": 1046.61,
                            "grnd_level": 1037.84,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 1.36, "deg": 291.501},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-14 00:00:00"
                    }, {
                        "dt": 1550113200,
                        "main": {
                            "temp": 8.53,
                            "temp_min": 8.53,
                            "temp_max": 8.53,
                            "pressure": 1037.95,
                            "sea_level": 1046.72,
                            "grnd_level": 1037.95,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "02n"}],
                        "clouds": {"all": 8},
                        "wind": {"speed": 1.46, "deg": 329.004},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-14 03:00:00"
                    }, {
                        "dt": 1550124000,
                        "main": {
                            "temp": 7.9,
                            "temp_min": 7.9,
                            "temp_max": 7.9,
                            "pressure": 1038.46,
                            "sea_level": 1047.3,
                            "grnd_level": 1038.46,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 500, "main": "Rain", "description": "pluja suau", "icon": "10n"}],
                        "clouds": {"all": 32},
                        "wind": {"speed": 1.23, "deg": 7.5004},
                        "rain": {"3h": 0.005},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-14 06:00:00"
                    }, {
                        "dt": 1550134800,
                        "main": {
                            "temp": 9.44,
                            "temp_min": 9.44,
                            "temp_max": 9.44,
                            "pressure": 1039.9,
                            "sea_level": 1048.64,
                            "grnd_level": 1039.9,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 500, "main": "Rain", "description": "pluja suau", "icon": "10d"}],
                        "clouds": {"all": 68},
                        "wind": {"speed": 0.96, "deg": 339.002},
                        "rain": {"3h": 0.02},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-14 09:00:00"
                    }, {
                        "dt": 1550145600,
                        "main": {
                            "temp": 11.31,
                            "temp_min": 11.31,
                            "temp_max": 11.31,
                            "pressure": 1040.5,
                            "sea_level": 1049.14,
                            "grnd_level": 1040.5,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 500, "main": "Rain", "description": "pluja suau", "icon": "10d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 1.46, "deg": 275.001},
                        "rain": {"3h": 0.01},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-14 12:00:00"
                    }, {
                        "dt": 1550156400,
                        "main": {
                            "temp": 11.9,
                            "temp_min": 11.9,
                            "temp_max": 11.9,
                            "pressure": 1039.49,
                            "sea_level": 1048.07,
                            "grnd_level": 1039.49,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 1.96, "deg": 195.501},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-14 15:00:00"
                    }, {
                        "dt": 1550167200,
                        "main": {
                            "temp": 10.56,
                            "temp_min": 10.56,
                            "temp_max": 10.56,
                            "pressure": 1039.94,
                            "sea_level": 1048.58,
                            "grnd_level": 1039.94,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 2.37, "deg": 169.502},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-14 18:00:00"
                    }, {
                        "dt": 1550178000,
                        "main": {
                            "temp": 9.4,
                            "temp_min": 9.4,
                            "temp_max": 9.4,
                            "pressure": 1040.97,
                            "sea_level": 1049.63,
                            "grnd_level": 1040.97,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 1.68, "deg": 168.501},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-14 21:00:00"
                    }, {
                        "dt": 1550188800,
                        "main": {
                            "temp": 8.85,
                            "temp_min": 8.85,
                            "temp_max": 8.85,
                            "pressure": 1041.23,
                            "sea_level": 1050,
                            "grnd_level": 1041.23,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "02n"}],
                        "clouds": {"all": 8},
                        "wind": {"speed": 0.52, "deg": 162.5},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-15 00:00:00"
                    }, {
                        "dt": 1550199600,
                        "main": {
                            "temp": 8.43,
                            "temp_min": 8.43,
                            "temp_max": 8.43,
                            "pressure": 1041.07,
                            "sea_level": 1049.77,
                            "grnd_level": 1041.07,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{
                            "id": 801,
                            "main": "Clouds",
                            "description": "lleugerament ennuvolat",
                            "icon": "02n"
                        }],
                        "clouds": {"all": 12},
                        "wind": {"speed": 0.46, "deg": 346.005},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-15 03:00:00"
                    }, {
                        "dt": 1550210400,
                        "main": {
                            "temp": 7.97,
                            "temp_min": 7.97,
                            "temp_max": 7.97,
                            "pressure": 1041.1,
                            "sea_level": 1049.88,
                            "grnd_level": 1041.1,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 500, "main": "Rain", "description": "pluja suau", "icon": "10n"}],
                        "clouds": {"all": 24},
                        "wind": {"speed": 0.67, "deg": 342.501},
                        "rain": {"3h": 0.01},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-15 06:00:00"
                    }, {
                        "dt": 1550221200,
                        "main": {
                            "temp": 9.93,
                            "temp_min": 9.93,
                            "temp_max": 9.93,
                            "pressure": 1041.74,
                            "sea_level": 1050.53,
                            "grnd_level": 1041.74,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 500, "main": "Rain", "description": "pluja suau", "icon": "10d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 1.66, "deg": 309.504},
                        "rain": {"3h": 0.01},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-15 09:00:00"
                    }, {
                        "dt": 1550232000,
                        "main": {
                            "temp": 12.16,
                            "temp_min": 12.16,
                            "temp_max": 12.16,
                            "pressure": 1041.47,
                            "sea_level": 1050.11,
                            "grnd_level": 1041.47,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 1.47, "deg": 254.5},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-15 12:00:00"
                    }, {
                        "dt": 1550242800,
                        "main": {
                            "temp": 12.86,
                            "temp_min": 12.86,
                            "temp_max": 12.86,
                            "pressure": 1039.83,
                            "sea_level": 1048.38,
                            "grnd_level": 1039.83,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 2.58, "deg": 219},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-15 15:00:00"
                    }, {
                        "dt": 1550253600,
                        "main": {
                            "temp": 11.39,
                            "temp_min": 11.39,
                            "temp_max": 11.39,
                            "pressure": 1039.27,
                            "sea_level": 1047.98,
                            "grnd_level": 1039.27,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 3.68, "deg": 209.5},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-15 18:00:00"
                    }, {
                        "dt": 1550264400,
                        "main": {
                            "temp": 9.92,
                            "temp_min": 9.92,
                            "temp_max": 9.92,
                            "pressure": 1039.46,
                            "sea_level": 1048.27,
                            "grnd_level": 1039.46,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 3.83, "deg": 228.506},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-15 21:00:00"
                    }, {
                        "dt": 1550275200,
                        "main": {
                            "temp": 9.18,
                            "temp_min": 9.18,
                            "temp_max": 9.18,
                            "pressure": 1039.07,
                            "sea_level": 1047.91,
                            "grnd_level": 1039.07,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 4.21, "deg": 246.001},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-16 00:00:00"
                    }, {
                        "dt": 1550286000,
                        "main": {
                            "temp": 8.7,
                            "temp_min": 8.7,
                            "temp_max": 8.7,
                            "pressure": 1037.84,
                            "sea_level": 1046.67,
                            "grnd_level": 1037.84,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 4.36, "deg": 249.5},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-16 03:00:00"
                    }, {
                        "dt": 1550296800,
                        "main": {
                            "temp": 8.64,
                            "temp_min": 8.64,
                            "temp_max": 8.64,
                            "pressure": 1036.86,
                            "sea_level": 1045.72,
                            "grnd_level": 1036.86,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 4.92, "deg": 243.502},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-16 06:00:00"
                    }, {
                        "dt": 1550307600,
                        "main": {
                            "temp": 10.96,
                            "temp_min": 10.96,
                            "temp_max": 10.96,
                            "pressure": 1037.23,
                            "sea_level": 1046.03,
                            "grnd_level": 1037.23,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 5.28, "deg": 240.5},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-16 09:00:00"
                    }, {
                        "dt": 1550318400,
                        "main": {
                            "temp": 13.32,
                            "temp_min": 13.32,
                            "temp_max": 13.32,
                            "pressure": 1036.94,
                            "sea_level": 1045.58,
                            "grnd_level": 1036.94,
                            "humidity": 96,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 5.46, "deg": 234.5},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-16 12:00:00"
                    }, {
                        "dt": 1550329200,
                        "main": {
                            "temp": 13.75,
                            "temp_min": 13.75,
                            "temp_max": 13.75,
                            "pressure": 1035.1,
                            "sea_level": 1043.65,
                            "grnd_level": 1035.1,
                            "humidity": 94,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01d"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 5.91, "deg": 230.503},
                        "rain": {},
                        "sys": {"pod": "d"},
                        "dt_txt": "2019-02-16 15:00:00"
                    }, {
                        "dt": 1550340000,
                        "main": {
                            "temp": 11.81,
                            "temp_min": 11.81,
                            "temp_max": 11.81,
                            "pressure": 1034.35,
                            "sea_level": 1043.09,
                            "grnd_level": 1034.35,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 6.36, "deg": 236},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-16 18:00:00"
                    }, {
                        "dt": 1550350800,
                        "main": {
                            "temp": 10.04,
                            "temp_min": 10.04,
                            "temp_max": 10.04,
                            "pressure": 1034.17,
                            "sea_level": 1043.07,
                            "grnd_level": 1034.17,
                            "humidity": 100,
                            "temp_kf": 0
                        },
                        "weather": [{"id": 800, "main": "Clear", "description": "cel net", "icon": "01n"}],
                        "clouds": {"all": 0},
                        "wind": {"speed": 6.17, "deg": 247.5},
                        "rain": {},
                        "sys": {"pod": "n"},
                        "dt_txt": "2019-02-16 21:00:00"
                    }],
                    "city": {
                        "id": 3128760,
                        "name": "Barcelona",
                        "coord": {"lat": 41.3829, "lon": 2.1774},
                        "country": "ES",
                        "population": 1621537
                    }
                }
            }
        },
        components: {
            Current: Current,
            Forecast: Forecast
        },
        props: {
            ciutats: Array
        },
        watch: {
            ciutatsSelect: function (newOption, oldOption) {
                oldOption; //Crido la variable perque sino dona error
                //console.log("New selected option: " + newOption);
                this.changeWeather(newOption);
            }
        },
        methods: {
            changeWeather: function (city) {
                let self = this;
                fetch('https://api.openweathermap.org/data/2.5/weather?q=' + city +
                    '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90')
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        self.tempsActual = data;
                        console.log("Data (current weather) updated successfully.")
                    })
                    .catch(function (error) {
                        console.error(error);
                    });

                fetch('https://api.openweathermap.org/data/2.5/forecast?q=' + city +
                    '&units=metric&lang=ca&appid=644da4f2a1231c6611d2e2d8abb1fc90')
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        self.tempsPrevist = data;
                        /*console.log("Data (forecast weather) updated successfully.");
                        console.warn(self.tempsPrevist.list[39].weather[0].description);*/
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }
        },
        created: function () {
            this.changeWeather(this.ciutatsSelect);
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
