<template>
    <div>
        <router-link class="button is-primary" to="weather">Weather (OpenWeatherMap)</router-link>
        <br><br>
        <router-link class="button is-primary" to="music">Music events (SongKick)</router-link>
    </div>
</template>

<script>
    export default {
        name: 'Main'
    }
</script>

<style>
</style>
