<template>
    <div>
        <General :ciutats="europa"></General>
        <General :ciutats="africa"></General>
        <General :ciutats="america"></General>
        <General :ciutats="asia"></General>
        <General :ciutats="oceania"></General>
    </div>
</template>

<script>
    import General from "./General.vue"

    export default {
        name: 'MainWeather',
        components: {
            General: General
        },
        data: function () {
            return {
                europa: ["Barcelona", "Madrid", "Wielkopolska", "Poznan", "London", "Warsaw", "Krakow", "Wroclaw", "Katowice", "Lodz", "Szczecin"],
                asia: ["Tokyo", "Hong Kong", "Moscow", "Saint Petersburg", "Kazan", "Novosibirsk", "Volgograd", "Vladivostok", "Samara", "Omsk", "Sochi"],
                africa: ["Nairobi", "Rabat", "Marrakesh", "Fes", "Casablanca", "Tangier", "Meknes", "Chefchaouen", "Essaouira", "Ouarzazate", "Agadir"],
                america: ["Bogota", "Montreal", "Cancun", "Monterrey", "Tijuana", "Acapulco", "Puebla", "Juarez", "Medellin", "Cali", "Toronto", "Vancouver"],
                oceania: ["Sydney", "Melbourne", "Perth", "Brisbane", "Adelaide", "Canberra", "Hobart", "Darwin", "Gold Coast", "Cairns", "Newcastle", "Wollongong"]
            }
        }
    }
</script>

<style>
</style>
