<template>
    <div>
        <a href="/savedmusic">Saved events</a>
        <GeneralMusic :ciutats="europa"></GeneralMusic>
        <GeneralMusic :ciutats="africa"></GeneralMusic>
        <GeneralMusic :ciutats="america"></GeneralMusic>
        <GeneralMusic :ciutats="asia"></GeneralMusic>
        <GeneralMusic :ciutats="oceania"></GeneralMusic>
    </div>
</template>

<script>
    import GeneralMusic from "./GeneralMusic.vue"

    export default {
        name: 'MainWeather',
        components: {
            GeneralMusic: GeneralMusic
        },
        data: function () {
            return {
                europa: ["Barcelona", "Madrid", "Wielkopolska", "Poznan", "London", "Warsaw", "Krakow", "Wroclaw", "Katowice", "Lodz", "Szczecin"],
                asia: ["Tokyo", "Hong Kong", "Moscow", "Saint Petersburg", "Kazan", "Novosibirsk", "Volgograd", "Vladivostok", "Samara", "Omsk", "Sochi"],
                africa: ["Nairobi", "Rabat", "Marrakesh", "Fes", "Casablanca", "Tangier", "Meknes", "Chefchaouen", "Essaouira", "Ouarzazate", "Agadir"],
                america: ["Bogota", "Montreal", "Cancun", "Monterrey", "Tijuana", "Acapulco", "Puebla", "Juarez", "Medellin", "Cali", "Toronto", "Vancouver"],
                oceania: ["Sydney", "Melbourne", "Perth", "Brisbane", "Adelaide", "Canberra", "Hobart", "Darwin", "Gold Coast", "Cairns", "Newcastle", "Wollongong"]
            }
        }
    }
</script>

<style>
</style>
