<template>
    <div>
        <div v-for="music in store.getEventList()" v-bind:key="music.id">
            <CurrentMusic :eventid="String(music.id)"
                          :artista="music.artista"
                          :nomlocal="music.nomlocal"
                          :datahora="music.datahora">
            </CurrentMusic>
        </div>
    </div>
</template>

<script>
    import CurrentMusic from "./CurrentMusic.vue";
    import { store } from "../store/store";

    export default {
        name: 'MainWeather',
        components: {
            CurrentMusic: CurrentMusic
        },
        data: function () {
            return {
                europa: ["Barcelona", "Madrid", "Wielkopolska", "Poznan", "London", "Warsaw", "Krakow", "Wroclaw", "Katowice", "Lodz", "Szczecin"],
                asia: ["Tokyo", "Hong Kong", "Moscow", "Saint Petersburg", "Kazan", "Novosibirsk", "Volgograd", "Vladivostok", "Samara", "Omsk", "Sochi"],
                africa: ["Nairobi", "Rabat", "Marrakesh", "Fes", "Casablanca", "Tangier", "Meknes", "Chefchaouen", "Essaouira", "Ouarzazate", "Agadir"],
                america: ["Bogota", "Montreal", "Cancun", "Monterrey", "Tijuana", "Acapulco", "Puebla", "Juarez", "Medellin", "Cali", "Toronto", "Vancouver"],
                oceania: ["Sydney", "Melbourne", "Perth", "Brisbane", "Adelaide", "Canberra", "Hobart", "Darwin", "Gold Coast", "Cairns", "Newcastle", "Wollongong"]
            }
        },
        methods: {
            function() {
                store;
            }
        }
    }
</script>

<style>
</style>
