<template>
    <div>

        <router-link to="/">
            <img src="../public/weather.png" height="51" width="51" alt="weather icon">
            <h1 class="title">Musical drops</h1></router-link><br>
        <h2 class="subtitle has-text-info">
            The most visited live weather and forecast website in the world!
        </h2>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'app'
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
